#
# This file has to be updated regularly when the project structure is
# changed or expanded. The specified filtering rules make it easier to
# check in the relevant project files and source code.
#

#
# Ignore all .data directories and which are created by JDeveloper
#
/**/.data/*


#
# Ignore all directories that contain compilation output
#
/**/classes/*
